/* home renov.css */

.kitchen-railing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.kitchen-main-photo img {
  width: 100%;
  height: auto;
  padding: 20px;
}


.kitchen-main-photo-ii {
  width: 100%;
  height: auto;
  padding: 20px;
}


.kitchenp{
  /* padding-left: 20px; */
  margin: 2rem;
  text-align: justify;
  /* padding: 2rem; */
}

.kitchenol{
  padding-left: 3rem;
  padding-right: 3rem;
  text-align: justify;
}