.whatsapp-link {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: green;
    color: white;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .whatsapp-icon {
    font-size: 24px;
  }