/* StarRailing.css */

.star-railing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.service-main-photo img {
  width: 50%;
  height: auto;
  padding: 20px;
}


.service-main-photo-ii {
  width: 100%;
  height: auto;
  padding: 20px;
}


.starrailingp{
  /* padding-left: 20px; */
  margin: 2rem;
  text-align: justify;
  /* padding: 2rem; */
}

